apiVersion: apps/v1
kind: Deployment
metadata:
  name: cicd-java-app
  namespace: dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cicd-java-app
  template:
    metadata:
      labels:
        app: cicd-java-app
    spec:
      containers:
      - name: cicd-java-app
        image: YOUR_DOCKERHUB_USERNAME/cicd-java-app:latest
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: cicd-java-app
  namespace: dev
spec:
  type: NodePort
  selector:
    app: cicd-java-app
  ports:
  - port: 8080
    targetPort: 8080
    nodePort: 31000
